<div class="mt-[7rem]">
  <h1 class="text-3xl font-medium text-slate-800 dark:text-white text-center mb-2 font-poppins">
    {{ 'Browser By Categories' | translate }}
  </h1>
  <p class="text-slate-600 dark:text-white/50 mb-10 font-poppins text-center">
    {{ 'Explore the best Categories in Egypt' | translate }}
  </p>
  <section class="flex flex-wrap items-center justify-center gap-6">
    @for (item of categories(); track item._id) {
    <app-category-card [oneCategory]="item" />
    }
  </section>
</div>
