<section class="pt-[8rem] flex items-center justify-center">
  <div class="w-full md:w-[50%] bg-white dark:bg-black/20 rounded-xl shadow-lg overflow-hidden p-6">
    <h2
      class="text-black dark:text-white font-[integralCF-bold] tracking-widest text-xl font-bold mb-10"
    >
      {{ 'Verification Code' | translate }}
    </h2>

    <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
      <div class="flex justify-center items-center pb-10">
        <div class="flex justify-center items-center mb-6 gap-12 flex-col md:flex-row">
          <div class="space-y-4 w-full md:w-auto">
            <div>
              <label
                for="website-admin"
                class="block mb-2 text-sm font-medium text-black/60 dark:text-white/60"
                >{{ 'Verification Code' | translate }}</label
              >
              <div class="flex">
                <span
                  class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md"
                >
                  <i class="fa-solid fa-code-commit text-black"></i>
                </span>
                <input
                  formControlName="resetCode"
                  type="text"
                  class="rounded-none rounded-e-lg block w-full md:w-80 lg:w-110 p-2.5 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-gray-200/10 focus:border-gray-200/10"
                  [placeholder]="'Verification Code' | translate"
                />
              </div>
              @if(verifyCodeForm.get('resetCode')?.touched &&
              verifyCodeForm.get('resetCode')?.errors) {
              @if(verifyCodeForm.get('resetCode')?.errors?.['required']) {
              <div
                class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="sr-only">{{ 'Info' | translate }}</span>
                <div>{{ 'This field is required' | translate }}</div>
              </div>
              } @else if(verifyCodeForm.get('resetCode')?.errors?.['pattern']) {
              <div
                class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="sr-only">{{ 'Info' | translate }}</span>
                <div>{{ 'Please enter valid verification Code' | translate }}</div>
              </div>
              } }
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!verifyCodeForm.valid"
        class="flex gap-3 items-center justify-center disabled:bg-black/20 dark:disabled:bg-white/20 w-full text-white dark:text-black bg-black dark:bg-white hover:bg-black/90 dark:hover:bg-white/90 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xl px-4 py-2 text-center cursor-pointer disabled:cursor-not-allowed"
      >
        <p>{{ 'Send Code' | translate }}</p>
      </button>
      <div class="py-5 ps-3">
        <button
          class="cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed text-black dark:text-white"
          routerLink="/forget-password"
          [disabled]="isDisabled()"
        >
          {{ 'Resend Again' | translate }}
          <span [class.hidden]="!isDisabled()" class="ms-1 dark:text-white text-black">
            ({{ timer() }}s)
          </span>
        </button>
      </div>
    </form>
    @if(errorMessage().length > 0) {
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-5" role="alert">
      <span class="font-medium">{{ errorMessage() }}</span>
    </div>
    }
  </div>
</section>
