<div
  class="relative w-full bg-black dark:bg-white py-5 transition-colors duration-500 ease-in-out flex items-center"
>
  <p
    class="absolute left-1/2 transform -translate-x-1/2 text-white dark:text-black transition-colors duration-500 ease-in-out text-center"
  >
    {{ 'bannerText' | translate }}
    <a class="underline font-bold">{{ 'bannerBtn' | translate }}</a>
  </p>

  <div class="ml-auto pr-4 flex items-center">
    <label class="inline-flex items-center cursor-pointer">
      <input
        type="checkbox"
        class="sr-only peer"
        [checked]="currentLang() === 'ar'"
        (change)="toggleLanguage($event)"
      />
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-transform after:duration-300 after:ease-in-out peer-checked:after:translate-x-full dark:border-gray-600 peer-checked:bg-gray-600 dark:peer-checked:bg-black"
      ></div>
    </label>
    <span class="ms-3 text-sm font-medium text-white dark:text-black">
      {{ langToggleText() }}
    </span>
  </div>
</div>
